@model Songul_Kosak_211103058.DAL.Markalarimiz

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Markalarimiz</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MarkaResimYolu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarkaResimYolu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sira)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sira)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MarkalarimizId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
